<!DOCTYPE html>
<html>
<head>
  <title>Taskapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<!-- <%= image_tag "imagecache_sample.pdf" %> -->
<%= link_to "Home", smartkeys_path%>

</body>
</html>
